* {
    box-sizing: border-box;
  }
  html {
    font-size: 20px;
  }
  #result {
    padding: 0.2rem 1rem;
    margin: 0 1rem;
    font-size: 1rem;
    border-left: 1rem solid transparent;
    border-left-color: transparent;
  } 